<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="${pageTitle}">Uçuş Arama Sonuçları</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="/ajax/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/flights.css">
</head>
<body>
<div class="blur-background"></div>
<nav class="navbar navbar-light bar">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:8080">Uçuş Ara</a>
        </div>
    </div>

</nav>

<div class="container-fluid text-center main-container rounded">
    <div class="row content rounded">
        <div class="col-sm-2"> <!--sidenav-->
            <!-- <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p> -->
        </div>
        <div class="col-sm-8 text-center list">
            <h1><span th:text="${departure} + ' '"></span>&#8594;<span th:text="' ' + ${arrival}"></span></h1>
            <h2 th:text="${dateTitle}">Tarih</h2>
            <hr>
            <!-- <h3>Uçuş Listesi</h3> -->
            <!-- Listeyi Kontrol Et -->
            <ul th:if="${dataList != null && not #lists.isEmpty(dataList)}" class="list-group">



                <li class="list-group-item active"><h1 class="display-1" th:text="${dateTitle} + ' Uçuşları'">Uçuşlar</h1></li>

                <li th:each="flight : ${dataList}" class="list-group-item d-flex justify-content-between align-items-center">

                    <span th:text="${flight.getDepartureDateTime().toLocalDate()}" class="badge badge-primary badge-pill">14.01.2024</span>

                    <h4><strong>
                        <span th:text="${flight.getDepartureAirport()} + ' '">Ankara Esenboğa Havalimanı</span>
                        <span>&#8594;</span>
                        <span th:text="' ' + ${flight.getArrivalAirport()}">İstanbul Havalimanı</span> </strong>
                    </h4>

                    <h4>
                        <span th:text="${flight.getDepartureDateTime().getHour()} + ':' + ${flight.getDepartureDateTime().getMinute()} + ' '">14:00</span>
                        <span>&#8674;</span>
                        <span th:text="' ' + ${flight.getArrivalDateTime().getHour()} + ':' + ${flight.getArrivalDateTime().getMinute()}">15:00</span>
                    </h4>

                    <span th:text="${flight.getPrice()}" class="badge badge-pill badge-success price">1290 &#8378;</span>
                </li>
            </ul>


            <!-- Liste boşsa -->
            <div th:unless="${dataList != null && not #lists.isEmpty(dataList)}" class="alert alert-warning">
                <strong>Üzgünüz, bu tarih için herhangi bir uçuş bulunamadı!</strong>
            </div>

        </div>
        <div class="col-sm-2"> <!--sidenav-->
            <!-- <div class="well">
              <p>ADS</p>
            </div>
            <div class="well">
              <p>ADS</p>
            </div> -->
        </div>
    </div>
</div>

<!-- <footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer> -->

</body>
</html>