<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/index.css">
    <script src="/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title th:text="${pageTitle}">Uçuş Ara</title>

</head>
<body>
<div class="blur-background"></div>
<div class="container">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <h1 class="h1 display-1 title">Uçuş Ara</h1>
        <div class="col">
            <!-- second div -->
            <form action="http://localhost:8080/searchFlights">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="airport-search form-control" id="departureAirport"
                               name="departureAirport"
                               placeholder="Nereden?">
                    </div>

                    <div class="col-md-4">
                        <input type="text" class="airport-search form-control" id="arrivalAirport" name="arrivalAirport"
                               placeholder="Nereye?">
                    </div>

                    <div class="col-md-4">
                        <input th:value="${today}" th:min="${today}" th:max="${maxYear}" type="date"
                               class="form-control" id="departureDate" name="departureDate" value="2024-01-01"
                               min="2024-01-01" max="2025-01-01"/> <br><br>
                    </div>
                    <input type="submit" class="btn btn-primary mb-2" value="Uçuş Ara">

                </div>
            </form>


        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>

<script>


    $(document).ready(function () {
        function fetchAirportData(callback) {

            // JSONPlaceholder API'den örnek havaalanı verilerini çekme
            $.getJSON("http://localhost:8080/api/airport/airports", function (data) {

                // API'den gelen verileri uygun formata dönüştürme
                var airportData = data.map(function (item) {
                    return {
                        label: item.name, // Havaalanı adı
                        airport_city: item.city
                    };
                });
                callback(airportData);
            });
        }

        $(".airport-search").autocomplete({
            source: function (request, response) {
                var term = request.term.toLowerCase();
                fetchAirportData(function (airportData) {
                    var filteredAirports = airportData.filter(function (airport) {
                        return airport.label.toLocaleLowerCase().includes(term) || airport.airport_city.toLocaleLowerCase().includes(term);
                    });
                    console.log(filteredAirports);
                    response(filteredAirports);
                });
            },
            minLength: 2,
            select: function (event, ui) {

                // Kullanıcı bir öneriyi seçtiğinde yapılacak işlemler
                console.log("Seçilen Havalimanı: " + ui.item.label);
                $(this).val(ui.item.label); // Havalimanı adını input kutusuna set et
                return false; // Formun submit olmasını engelle
            },
        }).on("autocompletechange", function (event, ui) {
            // Kullanıcı bir öneri seçmediğinde veya seçimini temizlediğinde
            if (!ui.item) {
                $(this).val(""); // input kutusunu temizle
                console.log("Lütfen bir konum seçin.");
            }
        });
    });
</script>


</body>
</html>